.x-list.events-list .x-list-item {
	display: block;
}

.x-list.events-list div.event-datetime {
	display: block;
}

.x-list.events-list div.event-title {
	display: block;
	font-size: 150%;
}

.x-list.events-list div.event-short {
	display: block;
	font-style: italic;
}

.x-list.events-list div.event-bodytext {
	display: block;
}

.x-list.events-list div.load-more {
	display: block;
	font-size: 150%;
	text-align: center;
	font-weight: bold;
}

.offline_indicator {
background-color: rgba(255, 255, 255, 0.5);
padding: 6px;
text-align: center;
font-weight: bold;
}

.offline_indicator h1 {
font-size: 110%;
font-weight: bold;
}

.flyer_btn {
margin-right: 5px;
}